.snakemake/
data/external/*
!data/external/.gitkeep
data/database/*
!data/database/.gitkeep
.DS_Store
results/
log/
data/eggnogdb
data/RepeatMaskerLibraries
data/assemblies/*
!data/assemblies/.gitkeep
.interproscan-5/
.gm_key
*.sif
*.log
.cache/
NOTES
data/genbank_template.txt
excluded_species/
report.html
test.txt
.gitignore.swp
.gm_key_old
submission_log_17072020.txt
tmp/
!tmp/.gitkeep
results_save_no_tRNAs/
